* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   /* border: 1px solid red; */
}

.center-content {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.violet {
   width: 170px;
   height: 170px;
   font-size:26px;
   color: white;
   background-color: rgb(155, 130, 97);
   border: 3px solid rgb(155, 130, 97);
   border-radius: 50%;
   z-index: 10;
   transition: 500ms ease;
}

.violet:hover {
   color: rgb(155, 130, 97);
   background-color: white;
   border: 3px solid rgb(155, 130, 97);


}


/* Hover over animations below*/

.violet:hover ~ .arrow-rotation {
   animation-play-state: running;
   display: inline;
}

/* ******************************* */
/* Animation Section: Train Tracks */
/* ******************************* */

.trainTracks {
   z-index: -1;
   transform: scale(140%) translate(-50%, -50%);
   transform-origin: 0% 0%;
   animation-name: pop-in-tracks;
   animation-duration: 4s;
   transition: all;
   animation-play-state: paused;
   display: none;
}

.violet:hover ~ .trainTracks {
   animation-play-state: running;
   display: inline;
}

@keyframes pop-in-tracks{

0% {
   transform: scale(0%) translate(-50%, -50%);
   transform-origin: 0% 0%;
}

10% {
   transform: scale(145%) translate(-50%, -50%);
   transform-origin: 0% 0%;
}

20% {
   transform: scale(140%) translate(-50%, -50%);
   transform-origin: 0% 0%;
}

100% {
   transform: scale(140%) translate(-50%, -50%);
   transform-origin: 0% 0%;
}

}

/* ***************************** */
/* Animation Section: Train Car1 */
/* ***************************** */

.trainCarPoP1{
   transform: scale(30%) translate(-50%, -50%);
   transform-origin: 0% 0%; 
   z-index: -5;
   animation-name: car1-popin;
   animation-duration: 10s;
   transition: all;
   animation-play-state: paused;
   display:none;
}

.violet:hover ~ .trainCarPoP1 {
   animation-play-state: running;
   display: inline;
}

/* This animation controls the pop-in effect of car1 */

@keyframes car1-popin {

   0%{
   transform: scale(0%) rotate(0deg) translate(-50%, -900%);
   transform-origin: 0% 0%; 
   }

   5%{
   transform: scale(32%) rotate(0deg) translate(-50%, -900%);
   transform-origin: 0% 0%; 
   }

   8%{
   transform: scale(30%) rotate(0deg) translate(-50%, -900%);
   transform-origin: 0% 0%; 
   animation-timing-function: linear;
   opacity: 1;
   }

   10% {
   transform: scale(30%) rotate(0deg) translate(-50%, -900%);
   transform-origin: 0% 0%; 
   animation-timing-function: linear;
      opacity: 1;
   }

   10.1% {
   transform: scale(30%) rotate(0deg) translate(-50%, -900%);
   transform-origin: 0% 0%; 
   animation-timing-function: linear;
      opacity: 0;
   }

   100%{
   transform: scale(30%) rotate(0deg) translate(-50%, -900%);
   transform-origin: 0% 0%; 
   animation-timing-function: linear;
      opacity: 0;
   }
} 

.trainCarRotate1 {
   transform: scale(30%) translate(-50%, -50%);
   transform-origin: 0% 0%; 
   z-index: -5;
   animation-name: rotate-car;
   animation-duration: 10s;
   animation-iteration-count: infinite;
   animation-delay: 1s;
   transition: all;
   animation-play-state: paused;
   display:none;
}

.violet:hover ~ .trainCarRotate1 {
   animation-play-state: running;
   display: inline;
}

/* This animation controls the rotation effect of car1 */

@keyframes rotate-car {

   0% {
   transform: scale(30%) rotate(0deg) translate(-50%, -900%);
   transform-origin: 0% 0%; 
   animation-timing-function: linear;
   }

   100% {
   transform: scale(30%) rotate(360deg) translate(-50%, -900%);
   transform-origin: 0% 0%; 
   animation-timing-function: linear;
   }
}

/* ***************************** */
/* Animation Section: Train Car2 */
/* ***************************** */

.trainCarPoP2{
   transform: scale(30%) translate(-50%, -50%);
   transform-origin: 0% 0%; 
   z-index: -5;
   animation-name: car2-popin;
   animation-duration: 10s;
   transition: all;
   animation-play-state: paused;
   display:none;
}

.violet:hover ~ .trainCarPoP2 {
   animation-play-state: running;
   display: inline;
}

/* This animation controls the pop-in effect of car1 */

@keyframes car2-popin {

   0%{
   transform: scale(0%) rotate(335deg) translate(-50%, -900%);
   transform-origin: 0% 0%; 
   }

   5%{
   transform: scale(32%) rotate(335deg) translate(-50%, -900%);
   transform-origin: 0% 0%; 
   }

   8%{
   transform: scale(30%) rotate(335deg) translate(-50%, -900%);
   transform-origin: 0% 0%; 
   animation-timing-function: linear;
   opacity: 1;
   }

   10% {
   transform: scale(30%) rotate(335deg) translate(-50%, -900%);
   transform-origin: 0% 0%; 
   animation-timing-function: linear;
      opacity: 1;
   }

   10.1% {
   transform: scale(30%) rotate(335deg) translate(-50%, -900%);
   transform-origin: 0% 0%; 
   animation-timing-function: linear;
      opacity: 0;
   }

   100%{
   transform: scale(30%) rotate(335deg) translate(-50%, -900%);
   transform-origin: 0% 0%; 
   animation-timing-function: linear;
      opacity: 0;
   }
} 

.trainCarRotate2 {
   transform: scale(30%) translate(-50%, -50%);
   transform-origin: 0% 0%; 
   z-index: -5;
   animation-name: rotate-car-2;
   animation-duration: 10s;
   animation-iteration-count: infinite;
   animation-delay: 1s;
   transition: all;
   animation-play-state: paused;
   display:none;
}

.violet:hover ~ .trainCarRotate2 {
   animation-play-state: running;
   display: inline;
}

/* This animation controls the rotation effect of car1 */

@keyframes rotate-car-2 {

   0% {
   transform: scale(30%) rotate(335deg) translate(-50%, -900%);
   transform-origin: 0% 0%; 
   animation-timing-function: linear;
   }

   100% {
   transform: scale(30%) rotate(695deg) translate(-50%, -900%);
   transform-origin: 0% 0%; 
   animation-timing-function: linear;
   }
}

/* ******************************* */
/* Animation Section: Tower        */
/* ******************************* */

.tower-fade-in{
   transform: scale(0%) rotate(45deg) translate(-50%, -180%);
   z-index: -10;
   transform-origin: 0% 0%;
   animation-name: pop-in-tower;
   animation-duration: 1s;
   transition: all;
   animation-play-state: paused;
   animation-delay: 1.8s;
   display: none;
}

.violet:hover ~ .tower-fade-in {
   animation-play-state: running;
   display: inline;
   
}

@keyframes pop-in-tower {

   0%{
   opacity: 0;
   transform: scale(70%) rotate(45deg) translate(-50%, -180%);
   }

   100%{
   opacity: 100;
   transform: scale(70%) rotate(45deg) translate(-50%, -180%);
   }
}

.tower-stay{
   transform: scale(0%) rotate(45deg) translate(-50%, -180%);
   z-index: -10;
   transform-origin: 0% 0%;
   animation-name: show-tower;
   animation-duration: 1s;
   transition: all;
   animation-play-state: paused;
   animation-delay: 2.79s;
   animation-iteration-count: infinite;
   display: none;
}

.violet:hover ~ .tower-stay {
   animation-play-state: running;
   display: inline;
   
}

@keyframes show-tower {

   0%{
   opacity: 100;
   transform: scale(70%) rotate(45deg) translate(-50%, -180%);
   display: inline;
   }

   100%{
   opacity: 100;
   transform: scale(70%) rotate(45deg) translate(-50%, -180%);
   display: inline;
   }
}

/* ******************************* */
/* Animation Section: Mountain     */
/* ******************************* */

.mountain-fade-in{
   transform: scale(0%) rotate(120deg) translate(-50%, -175%);
   z-index: -15;
   transform-origin: 0% 0%;
   animation-name: pop-in-mountain;
   animation-duration: 1s;
   transition: all;
   animation-play-state: paused;
   animation-delay: 4s;
   display: none;
}

.violet:hover ~ .mountain-fade-in {
   animation-play-state: running;
   display: inline;
   
}

@keyframes pop-in-mountain {

   0%{
   opacity: 0;
   transform: scale(70%) rotate(135deg) translate(-50%, -175%);
   }

   100%{
   opacity: 100;
   transform: scale(70%) rotate(135deg) translate(-50%, -175%);
   }
}

.mountain-stay{
   transform: scale(0%) rotate(135deg) translate(-50%, -175%);
   z-index: -15;
   transform-origin: 0% 0%;
   animation-name: show-mountain;
   animation-duration: 1s;
   transition: all;
   animation-play-state: paused;
   animation-delay: 4.99s;
   animation-iteration-count: infinite;
   display: none;
}

.violet:hover ~ .mountain-stay {
   animation-play-state: running;
   display: inline;
   
}

@keyframes show-mountain {

   0%{
   opacity: 100;
   transform: scale(70%) rotate(135deg) translate(-50%, -175%);
   display: inline;
   }

   100%{
   opacity: 100;
   transform: scale(70%) rotate(135deg) translate(-50%, -175%);
   display: inline;
   }
}

/* ******************************* */
/* Animation Section: croissant    */
/* ******************************* */

.cro-fade-in{
   transform: scale(0%) rotate(215deg) translate(-50%, -210%);
   z-index: -15;
   transform-origin: 0% 0%;
   animation-name: pop-in-cro;
   animation-duration: 1s;
   transition: all;
   animation-play-state: paused;
   animation-delay: 6.0s;
   display: none;
}

.violet:hover ~ .cro-fade-in {
   animation-play-state: running;
   display: inline;
   
}

@keyframes pop-in-cro {

   0%{
   opacity: 0;
   transform: scale(50%) rotate(215deg) translate(-50%, -210%);
   }

   100%{
   opacity: 100;
   transform: scale(50%) rotate(215deg) translate(-50%, -210%);
   }
}

.cro-stay{
   transform: scale(0%) rotate(215deg) translate(-50%, -210%);
   z-index: -15;
   transform-origin: 0% 0%;
   animation-name: show-cro;
   animation-duration: 1s;
   transition: all;
   animation-play-state: paused;
   animation-delay: 6.9s;
   animation-iteration-count: infinite;
   display: none;
}

.violet:hover ~ .cro-stay {
   animation-play-state: running;
   display: inline;
   
}

@keyframes show-cro {

   0%{
   opacity: 100;
   transform: scale(50%) rotate(215deg) translate(-50%, -210%);
   display: inline;
   }

   100%{
   opacity: 100;
   transform: scale(50%) rotate(215deg) translate(-50%, -210%);
   display: inline;
   }
}


/* ******************************* */
/* Animation Section: Bread        */
/* ******************************* */

.bread-fade-in{
   transform: scale(0%) rotate(200deg) translate(-50%, -230%);
   z-index: -20;
   transform-origin: 0% 0%;
   animation-name: pop-in-bread;
   animation-duration: 1s;
   transition: all;
   animation-play-state: paused;
   animation-delay: 6.5s;
   display: none;
}

.violet:hover ~ .bread-fade-in {
   animation-play-state: running;
   display: inline;
   
}

@keyframes pop-in-bread {

   0%{
   opacity: 0;
   transform: scale(50%) rotate(195deg) translate(-50%, -230%);
   }

   100%{
   opacity: 100;
   transform: scale(50%) rotate(195deg) translate(-50%, -230%);
   }
}

.bread-stay{
   transform: scale(0%) rotate(195deg) translate(-50%, -230%);
   z-index: -20;
   transform-origin: 0% 0%;
   animation-name: show-bread;
   animation-duration: 1s;
   transition: all;
   animation-play-state: paused;
   animation-delay: 7.49s;
   animation-iteration-count: infinite;
   display: none;
}

.violet:hover ~ .bread-stay {
   animation-play-state: running;
   display: inline;
   
}

@keyframes show-bread {

   0%{
   opacity: 100;
   transform: scale(50%) rotate(195deg) translate(-50%, -230%);
   display: inline;
   }

   100%{
   opacity: 100;
   transform: scale(50%) rotate(195deg) translate(-50%, -230%);
   display: inline;
   }
}

/* ******************************* */
/* Animation Section: Wine         */
/* ******************************* */

.wine-fade-in{
   transform: scale(0%) rotate(235deg) translate(-50%, -230%);
   z-index: -11;
   transform-origin: 0% 0%;
   animation-name: pop-in-wine;
   animation-duration: 1s;
   transition: all;
   animation-play-state: paused;
   animation-delay: 7s;
   display: none;
}

.violet:hover ~ .wine-fade-in {
   animation-play-state: running;
   display: inline;
   
}

@keyframes pop-in-wine {

   0%{
   opacity: 0;
   transform: scale(50%) rotate(235deg) translate(-50%, -230%);
   }

   100%{
   opacity: 100;
   transform: scale(50%) rotate(235deg) translate(-50%, -230%);
   }
}

.wine-stay{
   transform: scale(0%) rotate(235deg) translate(-50%, -230%);
   z-index: -11;
   transform-origin: 0% 0%;
   animation-name: show-wine;
   animation-duration: 1s;
   transition: all;
   animation-play-state: paused;
   animation-delay: 7.99s;
   animation-iteration-count: infinite;
   display: none;
}

.violet:hover ~ .wine-stay {
   animation-play-state: running;
   display: inline;
   
}

@keyframes show-wine {

   0%{
   opacity: 100;
   transform: scale(50%) rotate(235deg) translate(-50%, -230%);
   display: inline;
   }

   100%{
   opacity: 100;
   transform: scale(50%) rotate(235deg) translate(-50%, -230%);
   display: inline;
   }
}

/* ******************************* */
/* Animation Section: Notre Dame   */
/* ******************************* */

.not-fade-in{
   transform: scale(0%) rotate(315deg) translate(-50%, -175%);
   z-index: -11;
   transform-origin: 0% 0%;
   animation-name: pop-in-not;
   animation-duration: 1s;
   transition: all;
   animation-play-state: paused;
   animation-delay: 8s;
   display: none;
}

.violet:hover ~ .not-fade-in {
   animation-play-state: running;
   display: inline;
   
}

@keyframes pop-in-not {

   0%{
   opacity: 0;
   transform: scale(80%) rotate(315deg) translate(-50%, -180%);
   }

   100%{
   opacity: 100;
   transform: scale(80%) rotate(315deg) translate(-50%, -180%);
   }
}

.not-stay{
   transform: scale(0%) rotate(315deg) translate(-50%, -180%);
   z-index: -11;
   transform-origin: 0% 0%;
   animation-name: show-not;
   animation-duration: 1s;
   transition: all;
   animation-play-state: paused;
   animation-delay: 8.99s;
   animation-iteration-count: infinite;
   display: none;
}

.violet:hover ~ .not-stay {
   animation-play-state: running;
   display: inline;
   
}

@keyframes show-not {

   0%{
   opacity: 100;
   transform: scale(80%) rotate(315deg) translate(-50%, -180%);
   display: inline;
   }

   100%{
   opacity: 100;
   transform: scale(80%) rotate(315deg) translate(-50%, -180%);
   display: inline;
   }
}

/* ******************************* */
/* Animation Section: Cloud1 Animation   */
/* ******************************* */

.cloud1-fade-in{
   transform: scale(0%) rotate(25deg) translate(-50%, -550%);
   z-index: -11;
   transform-origin: 0% 0%;
   animation-name: pop-in-cloud1;
   animation-duration: 14s;
   transition: all;
   animation-play-state: paused;
   animation-delay: 1.5s;
   animation-timing-function: linear;
   animation-iteration-count: infinite;
   display: none;
}

.violet:hover ~ .cloud1-fade-in {
   animation-play-state: running;
   display: inline;
   
}

@keyframes pop-in-cloud1 {

   0%{
   opacity: 0;
   transform: scale(30%) rotate(25deg) translate(-50%, -550%);
   }

   50%{
   opacity: 100;
   transform: scale(30%) rotate(65deg) translate(-50%, -550%);

   }

   100%{
   opacity: 0;
   transform: scale(30%) rotate(95deg) translate(-50%, -550%);
   }
}

/* ******************************* */
/* Animation Section: Cloud2 Animation   */
/* ******************************* */

.cloud2-fade-in{
   transform: scale(0%) rotate(140deg) translate(-50%, -550%);
   z-index: -11;
   transform-origin: 0% 0%;
   animation-name: pop-in-cloud2;
   animation-duration: 6s;
   transition: all;
   animation-play-state: paused;
   animation-delay: 4s;
   animation-timing-function: linear;
   animation-iteration-count: infinite;
   display: none;
}

.violet:hover ~ .cloud2-fade-in {
   animation-play-state: running;
   display: inline;
   
}

@keyframes pop-in-cloud2 {

   0%{
   opacity: 0;
   transform: scale(35%) rotate(140deg) translate(-50%, -550%);
   }

   50%{
   opacity: 100;
   transform: scale(35%) rotate(130deg) translate(-50%, -550%);

   }

   100%{
   opacity: 0;
   transform: scale(35%) rotate(120deg) translate(-50%, -550%);
   }
}

/* ******************************* */
/* Animation Section: Cloud3 Animation   */
/* ******************************* */

.cloud3-fade-in{
   transform: scale(0%) rotate(250deg) translate(-50%, -580%);
   z-index: -50;
   transform-origin: 0% 0%;
   animation-name: pop-in-cloud3;
   animation-duration: 28s;
   transition: all;
   animation-play-state: paused;
   animation-delay: 7.5s;
   animation-timing-function: linear;
   animation-iteration-count: infinite;
   display: none;
}

.violet:hover ~ .cloud3-fade-in {
   animation-play-state: running;
   display: inline;
   
}

@keyframes pop-in-cloud3 {

   0%{
   opacity: 0;
   transform: scale(45%) rotate(250deg) translate(-50%, -550%);
   }

   50%{
   opacity: 100;
   transform: scale(45%) rotate(350deg) translate(-50%, -550%);

   }

   100%{
   opacity: 0;
   transform: scale(45%) rotate(450deg) translate(-50%, -550%);
   }
}









