* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   /* border: 1px solid red; */
}


.button-content {
   position: relative;
   /* background-color: grey; */
   margin: 0 auto;
   height: 400px;
   width: 400px;
   z-index: -50;
}

.center-content {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.violet {
   border: 3px solid rgb(2, 0, 133);
   border-radius: 50%;
   z-index: 10;
}

.arrow-rotation {
   animation-name: rotate;
   animation-duration: 4s;
   animation-iteration-count: infinite;
   transition: all;
   animation-play-state: paused;
   display: none;
}


/* Hover over animations below*/

.violet:hover ~ .arrow-rotation {
   animation-play-state: running;
   display: inline;
}

/* ******************************* */
/* Animation Section: Train Tracks */
/* ******************************* */

.trainTracks {
   transform: scale(140%) translate(-50%, -50%);
   transform-origin: 0% 0%;
   animation-name: pop-in-tracks;
   animation-duration: 4s;
   transition: all;
   animation-play-state: paused;
   display: none;
}

.violet:hover ~ .trainTracks {
   animation-play-state: running;
   display: inline;
}

@keyframes pop-in-tracks{

0% {
   transform: scale(0%) translate(-50%, -50%);
   transform-origin: 0% 0%;
}

10% {
   transform: scale(145%) translate(-50%, -50%);
   transform-origin: 0% 0%;
}

20% {
   transform: scale(140%) translate(-50%, -50%);
   transform-origin: 0% 0%;
}

100% {
   transform: scale(140%) translate(-50%, -50%);
   transform-origin: 0% 0%;
}

}

/* ***************************** */
/* Animation Section: Train Car1 */
/* ***************************** */

.trainCarPoP1{
   transform: scale(30%) translate(-50%, -50%);
   transform-origin: 0% 0%; 
   z-index: -10;
   animation-name: car1-popin;
   animation-duration: 10s;
   transition: all;
   animation-play-state: paused;
   display:none;
}

.violet:hover ~ .trainCarPoP1 {
   animation-play-state: running;
   display: inline;
}

/* This animation controls the pop-in effect of car1 */

@keyframes car1-popin {

   0%{
   transform: scale(0%) rotate(0deg) translate(-50%, -900%);
   transform-origin: 0% 0%; 
   }

   5%{
   transform: scale(32%) rotate(0deg) translate(-50%, -900%);
   transform-origin: 0% 0%; 
   }

   8%{
   transform: scale(30%) rotate(0deg) translate(-50%, -900%);
   transform-origin: 0% 0%; 
   animation-timing-function: linear;
   opacity: 1;
   }

   10% {
   transform: scale(30%) rotate(0deg) translate(-50%, -900%);
   transform-origin: 0% 0%; 
   animation-timing-function: linear;
      opacity: 1;
   }

   10.1% {
   transform: scale(30%) rotate(0deg) translate(-50%, -900%);
   transform-origin: 0% 0%; 
   animation-timing-function: linear;
      opacity: 0;
   }

   100%{
   transform: scale(30%) rotate(0deg) translate(-50%, -900%);
   transform-origin: 0% 0%; 
   animation-timing-function: linear;
      opacity: 0;
   }
} 

.trainCarRotate1 {
   transform: scale(30%) translate(-50%, -50%);
   transform-origin: 0% 0%; 
   z-index: -10;
   animation-name: rotate-car;
   animation-duration: 10s;
   animation-iteration-count: infinite;
   animation-delay: 1s;
   transition: all;
   animation-play-state: paused;
   display:none;
}

.violet:hover ~ .trainCarRotate1 {
   animation-play-state: running;
   display: inline;
}

/* This animation controls the rotation effect of car1 */

@keyframes rotate-car {

   0% {
   transform: scale(30%) rotate(0deg) translate(-50%, -900%);
   transform-origin: 0% 0%; 
   animation-timing-function: linear;
   }

   100% {
   transform: scale(30%) rotate(360deg) translate(-50%, -900%);
   transform-origin: 0% 0%; 
   animation-timing-function: linear;
   }
}















/* ***************************** */
/* Animation Section: Train Car1 */
/* ***************************** */

.trainCarPoP2{
   transform: scale(30%) translate(-50%, -50%);
   transform-origin: 0% 0%; 
   z-index: -10;
   animation-name: car2-popin;
   animation-duration: 10s;
   transition: all;
   animation-play-state: paused;
   display:none;
}

.violet:hover ~ .trainCarPoP2 {
   animation-play-state: running;
   display: inline;
}

/* This animation controls the pop-in effect of car1 */

@keyframes car2-popin {

   0%{
   transform: scale(0%) rotate(335deg) translate(-50%, -900%);
   transform-origin: 0% 0%; 
   }

   5%{
   transform: scale(32%) rotate(335deg) translate(-50%, -900%);
   transform-origin: 0% 0%; 
   }

   8%{
   transform: scale(30%) rotate(335deg) translate(-50%, -900%);
   transform-origin: 0% 0%; 
   animation-timing-function: linear;
   opacity: 1;
   }

   10% {
   transform: scale(30%) rotate(335deg) translate(-50%, -900%);
   transform-origin: 0% 0%; 
   animation-timing-function: linear;
      opacity: 1;
   }

   10.1% {
   transform: scale(30%) rotate(335deg) translate(-50%, -900%);
   transform-origin: 0% 0%; 
   animation-timing-function: linear;
      opacity: 0;
   }

   100%{
   transform: scale(30%) rotate(335deg) translate(-50%, -900%);
   transform-origin: 0% 0%; 
   animation-timing-function: linear;
      opacity: 0;
   }
} 

.trainCarRotate2 {
   transform: scale(30%) translate(-50%, -50%);
   transform-origin: 0% 0%; 
   z-index: -10;
   animation-name: rotate-car-2;
   animation-duration: 10s;
   animation-iteration-count: infinite;
   animation-delay: 1s;
   transition: all;
   animation-play-state: paused;
   display:none;
}

.violet:hover ~ .trainCarRotate2 {
   animation-play-state: running;
   display: inline;
}

/* This animation controls the rotation effect of car1 */

@keyframes rotate-car-2 {

   0% {
   transform: scale(30%) rotate(335deg) translate(-50%, -900%);
   transform-origin: 0% 0%; 
   animation-timing-function: linear;
   }

   100% {
   transform: scale(30%) rotate(695deg) translate(-50%, -900%);
   transform-origin: 0% 0%; 
   animation-timing-function: linear;
   }
}